:root {
  /* перелік всіх змінних для кольорів, шрифтів, transition... */
}

body {
  color: black;
  background-color: teal;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  width: 1158px;
  padding: 15px 0;
  margin: 0 auto;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
